body {
    font-family: Montserrat, sans-serif;
    text-align: center;
    background-color: #ffffff;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}
h1 {
    color: #333;
    font-size: 48px;
}
p {
    color: #666;
    font-size: 22px;
    margin-top: 20px;
    line-height: 1.6;
}