<div class="filter">
    <p> Choose Category</p>
    <select (change)="setFilteredItem($event)">
        <option value="SmartPhones"> SmartPhones </option>
        <option value="Computers"> Computers </option>
        <option value="Audio"> Audio </option>
        <option value="Other"> Other </option>
        <option value="None"> None </option>
    </select>
</div>
<div *ngFor="let product of filteredItems" class = "products">
      <h3>
        <a [title]="product.name + ' details'"
        [routerLink]="['/products', product.id]">
          {{ product.name }}
        </a>
      </h3>
      <div class="img">
        <div class="carousel">
  
          <input type="checkbox" class="faux-ui-facia"> 
          <div class="slide" slide="1" annot="">
            <img [src] = "product.img3" alt="Slide 3">
          </div>
        
          <input type="checkbox" class="faux-ui-facia">
          <div class="slide" slide="2" annot="">
            <img [src] = "product.img2" alt="Slide 2">
          </div>
        
          <input type="checkbox" class="faux-ui-facia">
        
          <div class="slide" slide="3" annot="Source: Kaspi.kz">
            <img [src] = "product.img" alt="Slide 1">
          </div>
           
         
        </div>
      </div>
      
      <div class="line"></div>
    
      <p *ngIf="product.description">
        {{ product.description }}
      </p>
      <p *ngIf="product.price">
        Cost: {{ product.price | currency }}
      </p>
    <button type="button" (click)="share(product.url)">Share</button>
    <app-product-alerts [product]="product" (notify)="onNotify()"></app-product-alerts>

    <div class="like-dislike-container">
        <div class="likes-dislikes">
            <button type="button" (click)="incrementLikes(product.id)" class="btn1">Like</button>
            <p>{{ product.likes | likes }}</p>
            <button type="button" (click)="incrementDislikes(product.id)" class="btn1">Meh..</button>
            <p>{{ product.dislikes | dislikes }}</p>
            <button type="button" (click)="delete(product.id)" class="btn1">Delete</button>
        </div>
    </div>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->