*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 14px;
    border: none;
}

body{
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#content-container{
    display: flex;
    align-items: center;
    margin: 64px auto 0;
    padding-bottom: 64px;
}

.phones,
.display-phone{
    margin: 0 20px;
}

.display-phone{
    position: relative;
}

.picture{
    position: absolute;
    top: -513px;
    left: 98px;
    opacity: 0;
}

.user{
    margin: 12px 0 0;
    justify-content: center;
    top: .45em;
}

.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-container,
.signup-container{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(219, 219, 219,1);
    margin-bottom: 10px;
    padding: 10px 0;
}

.instagram-logo-box{
    width: 175px;
    margin: 22px 86.5px 0;
}

.instagram-logo{
    height: 51px;
}

#login-post{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 24px;
}

.inputs-container{
    margin: 0 40px 6px;
    width: 100%;
}

.inputs-container input{
    background: rgb(250, 250, 250);
    width: 100%;
    padding: 9px 0 7px 8px;
    border: 1px solid rgba(219, 219, 219,1);
    border-radius: 2px;
    outline: none;
}

.inputs-container input:focus{
    border-color: rgb(180, 180, 180);
}

.login-button{
    background-color: rgb(178,223,252);
    color: rgb(255,255,255);
    font-weight: bold;
    padding: 8px;
    border-radius: 4px;
    text-align: center;
    width: 94%;
    margin: 8px 40px;
    box-sizing: content-box;
}

.login-button:hover{
    background-color: #0095f6;
}

.or-container{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    margin: 10px 40px 18px;
    width: 100%;
}

.line{
    background-color: rgb(219, 219, 219);
    height: 1px;
    position: relative;
    top: .45em;
}

.or{
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: rgb(114, 114, 114);
}

.facebook-container{
    text-align: center;
    margin: 8px 40px;
}

.facebook-logo{
    width: 16px;
    margin-right: 8px;
}

.facebook-login{
    color: rgb(56, 81, 133);
    font-weight: 600;
}

.password-forgot{
    color: rgb(00, 55, 107);
    text-align: center;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.signup-container p,
.get-container p{
    color: #262626;
}

.signup-container p{
    margin: 15px;
    text-align: center;
}

.signup{
    color: #0095f6;
    font-weight: 600;
}

.get-container{
    display: flex;
    flex-direction: column;
    height: 102px;
    width: 350px;
}

.get-container p{
    margin: 10px 20px;
    box-sizing: content-box;
    text-align: center;
}

.download-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
}

.download-appstore{
    margin-right: 8px;
}

.appstore,
.googleplay{
    height: 40px;
    width: 136px;
}

@media(max-width: 785px){

    .phones{
        display: none;
    }

    .page-footer{
        max-width: 360px;
        margin: 0 auto;
    }
}


.list-items {
    display: inline-block;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    color: rgb(138, 141, 145);
    font-size: 12px;
    margin: 2.5px;
}

.list-items:hover {
    color: rgb(138, 141, 145);
    text-decoration: underline;
}

.fb-clone {
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    color: rgb(138, 141, 145);
    font-size: 11px;
    margin-left: 45px;
    margin-bottom: 16px;
}

.fb-clone-link {
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    color: rgb(138, 141, 145);
    font-size: 11px;
}

footer {
    text-align: center;
    display: block;
    width: 1200px;
    margin: 0 auto;
}